.formLabel {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  padding: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 1px 7px 14px 0px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: white;
  
}

.contactLabel {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  /* font-size: 19px; */
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 10px rgb(77, 77, 77);
}
.filterTittle {
  color: #07575b;
  font-size: 24px;
}
.contactInput {
  width: 250px;
  height: 30px;
  font-size: 16px;
  font-weight: 200;
  color: rgb(114, 114, 114);
  border-radius: 2px;
  border: none;
  outline: transparent;
  padding: 5px 10px;
  background: transparent;
  border-bottom: 2px solid gray;
}
